{% extends 'layout/base.html' %}

{% block maincontent %}
<section class="view_port">
    <div class="forgot-password">
        <form action="{{constant('URLROOT')}}/users/forgotpassword" class="forgot-password__form" id="js-forgot-password__form" method="POST">
            <h2 class="forgot-password__heading">Forgot Password</h2>
            <p class="forgot-password__error" id="js-forgot-password__error-all"></p>
            <div class="forgot-password__controller">
                <p class="forgot-password__label">Email</p>
                <input type="email" class="forgot-password__input" id="js-forgot-password-email" name="email" value="{{ email }}">
                <p class="forgot-password__error" id="js-forgot-password__error-email">{{ register_msg }}</p>
            </div>
            <div class="forgot-password__controller">
                <input type="submit" class="btn btn__submit" id="js-forgot-password__submit" value="Submit">
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block jscontent %}
    <script src="{{constant('JS_PATH')}}/users_forgotpassword.min.js"></script>
{% endblock %}