{% extends 'layout/base.html' %}

{% block maincontent %}
<section class="view_port">
    <div class="reset-password">
        <form action="{{constant('URLROOT')}}/users/resetpassword/{{token}}" class="reset-password__form" id="js-reset-password__form" method="POST">
            <h2 class="reset-password__heading">Reset Password</h2>
            <p class="reset-password__error" id="js-reset-password__error-all">{{ reset_msg }}</p>
            <div class="reset-password__controller">
                <p class="reset-password__label">New Password</p>
                <input type="password" class="reset-password__input" id="js-reset-password" name="new_password">
                <p class="reset-password__error" id="js-reset-password__error">{{ error_password }}</p>
            </div>
            <div class="reset-password__controller">
                <p class="reset-password__label">Confirm Password</p>
                <input type="password" class="reset-password__input" id="js-reset-confpassword" name="conf_password">
                <p class="reset-password__error" id="js-reset-confpassword__error">{{ error_password }}</p>
            </div>
            <div class="reset-password__controller">
                <input type="submit" class="btn btn__submit" id="js-reset-password__submit" value="Submit">
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block jscontent %}
    <script src="{{constant('JS_PATH')}}/users_resetpassword.min.js"></script>
{% endblock %}