/*------ Font Variables -------*/
$font-text: 'Raleway', sans-serif;
$font-heading: 'Roboto', sans-serif;

/*------ Color Variables -------*/
$color-grey: #444;
$color-primary: #2ebfac;
$color-primary-dark: #219182;
$color-primary-light: #37d8c3;

/*------ Length Variables -------*/
$navbar-height: 70px;