.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 40px;
    display: flex;
    align-items: flex-start;
    padding: 0 20px;

    @media (max-width: 700px) {
        flex-direction: column;
        // margin-top: 100px;
    }
}

.blog-list {
    width: 70%;
    border-right: 1px solid rgba(144,144,144,0.25);
    background-color: #fff;

    @media (max-width: 900px) {
        width: 60%;
    }

    // @media (max-width: 800px) {
    //     width: 50%;
    // }

    @media (max-width: 700px) {
        width: 100%;
        margin-bottom: 2.5rem;
        border-right: none;
    }
}
